body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: whitesmoke;
}

header {
    height: 20%;
    width: 100%;
    background-color: darkred;
    margin: 0;
    display: block;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 100px;
    text-shadow: 0 0 5px #000000, 0 0 8px #000000;
    margin: 0;
}

h1:hover {
    color: transparent;
    text-shadow: none;
    transition-duration: .4s;
}

.panel {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: top;
    position: relative;
}

a {
    width: 50%;
    margin: 0;
}

img {
    width: 100%;
    margin: 0;
}

footer {
    height: 17%;
    width: 100%;
    background-color: black;
    margin: 0;
    display: block;
    justify-content: center;
    align-items: center;
}